
@{
    ViewBag.Title = "Index";
}

<h2>RESOURCES AND HELP NEEDED. <span style="font-size:12pt;">The most important resource is </span> You</h2> 



<p>
    Your child learns through indoor and outdoor (spontaneous or planned), play experiences.  These books are planned to follow, or go hand in hand, with play experiences and so extend learning. They are <span style="font-weight:bold;">not</span> intended to replace these valuable, first – hand experiences of early learning.
</p>

<p>
    Use the books in short, regular, frequent sessions (until your child’s interest wanes), rather than spasmodic, lengthy ones. Some of them could be used as introductions to everyday topics, e.g. food in the kitchen.
</p>

<p>
    Link mathematics with reading activities. Help your child, when necessary, to read these books. Point to each word or number as you read it, and then read alone. Make sure that he/she points to each correct word as it is read. This ensures that your child is not reciting the words like a poem.
</p>

<p>
    Some of the words and phonics used are those that are first introduced in your child’s early school reading activities. Help your child to sound out words phonetically whenever possible. Help him to recognise new sight words, (i.e. words that your child can not sound out phonetically). Some jingles and rhymes are intended for you to <span style="font-style:italic;">chant and/or dance</span> with him/her, so that <span style="font-style:italic;">he/she feels</span> the rhythm and beat, which helps him/her to read and understand the mathematical content.

</p>

<p>
    Draw attention to the difference between the figure’s number and its name, (for example, 7 <span style="font-weight:bold;">or</span> seven).

</p>


<p>
    From the outset, when your child is interested teach the correct way to hold a <span style="font-style:italic;">tool</span>, (i.e. pencil, crayon, paint- brush, scissors- left handed ones if necessary  and  from the outset teach the correct formation of letters and figures.

</p>

<p>
    For all pages - reinforce these learning tasks and extend the relevant vocabulary, by using articles from newspapers, comics and magazines and everyday objects. Under your supervision and guidance introduce him/her to simple programmes and games on computers and tablet devices.

</p>



<span style="font-weight:bold;">Types of practical activities to do together.</span><br />
<p>
    Everyday activities are valuable and can be fun as problem solving activities. Let him/her solve how many knives, forks, spoons, mugs are needed to set the table for 1/2/3 people. How many more mugs are needed if 2 friends come?

</p>

<p>
    Chalk a number line 1 – 5 on the floor. Ask your child to hop 5 spaces and ask where he is now.
</p>

<p>
    Draw a number line to 10 and ask him/her to travel along it for a specific number of moves then count them. This pre-cedes a method of addition and subtraction.
</p>

<p>
    The work sheets can be used as on- going verbal assessments of your child’s understanding.
</p>



<p>
    Use simple counting games, rhymes, songs and stories to raise awareness of the value of the number. <span style="font-style:italic;">For example</span>,   1, 2,3,4,5, once I caught a fish alive. 5 little speckled frogs. Ten green bottles.

</p>

<p>
    Introduce mathematical vocabulary in everyday life. Use words such as, <span style="font-style:italic;">big, little, top, bottom, altogether, add, more, more than, take, less, less than, forwards, backwards and sideways</span>.


</p>

<p>
    Count plates, mugs on the table, buttons on clothes, houses and shops on the way to school.<br />
    Make and pin up a clothes line on which number cards are pegged. Let him/her recognise and select the correct numerals, progress to filling in the missing numbers 1-10.

</p>

<p>
    Sort everyday objects by shape (circle, square, triangle, and rectangle) and by size (big, little). Compare the sizes (bigger, smaller).

</p>

<p>
    Shop and bake together. <span style="font-style:italic;">Measure</span> and compare the quantities (heavier, lighter/greater, smaller).
</p>

<p>
    Talk about and recreate simple patterns using beads, shapes and buttons.
</p>

<p>

    Play board games together - snakes and ladders, snap cards, using numbers to 3, 5, 10, cards and mazes.
</p>

<p>
    Play dice games -use symbols and/or numbers to 5-10
</p>

<p>The flash cards provided for all the activities are to be found at the <span style="font-weight:bold;">back</span> of the worksheets.</p>

<p>
    In some activities the phrase <span style="font-style:italic;">Tell a friend or Do this with a friend</span> is used which fosters his/her speaking and listening skills.

</p>
<div style="width:80%; margin:auto; text-align:center;">

    <span>You are the <span style="font-weight:bold;">best</span> friend!</span>&nbsp;&nbsp;&nbsp;<span>Enjoy the time!</span>&nbsp;&nbsp;&nbsp;<span style="font-weight:bold;">Have fun together!</span>

</div>




<h2>More details about the relationship between the EYFS curriculum and the Ticker books.</h2><br />

<p>
    The experiences and activities in the Ticker books reflect the principles contained in the Statutory Framework for the Early Years Foundation Stage, known as EYFS. These activities are intended to help your unique child and you as you start out together. They provide learning tasks that, along with your adult input are successful and give your child a feeling of self- confidence, so that he/she can achieve to the best of his/her ability. He/she will benefit from the helpful relationships within your home and through your positive attitude will learn to value all people and learning. With your appropriate help, plus an enabling environment, your child becomes resilient, capable, and confident and self- assured. He/she, secure in a supportive, loving and caring environment, will learn in different ways and at different rates to other children. Your appropriate provision, given at an early age, enables your child to learn effectively and make progress at his/her own rate of development.

</p>
<p>
    In the EYFS Framework there are 7 areas of learning and development all important and connected. The Ticker books contain relevant activities and, with your extended input they offer a creative, enjoyable approach to the early curriculum. The mathematics and reading activities go hand–in-hand in developing your child’s confidence, understanding and skills. They draw upon speaking and listening skills, reading skills and stories and rhymes. They develop and improve skills in counting, understanding and using numbers and, with your help, provide the ability to calculate simple addition and subtraction problems. They foster the ability to identify shapes, spaces and measures. The content and illustrations in the books give an idea of people and communities, the world and technology. Through the use of a wide range of media and materials and activities in art, music movement, dance,  role- play and design and technology and the opportunities to be imaginative, your child is able to represent his/her own feelings and thoughts.

</p>
<p>
    The book contains a wide range of progressive activities which aim to cover the differences in children's individual rates of learning. Select the ones relevant to your child’s needs. With your input, the reading level in the books is intended to be meaningful to your child, but at times, extra input may be needed to increase understanding and sustain interest. At all times, the reading content will be a mixture of phonics, (linking sounds and letters) and sight words that your child will meet in the EYFS curriculum. This approach aims to foster your child’s all -round development and make the tasks easier to read, understand, undertake and complete successfully. Some tasks in the books will need your timely intervention and help, just as a classroom teacher will give, when supporting a specific group of children.

</p>

<br />

<p>
    The 10 Ticker characters aim to raise awareness that a story or a rhyme can contain information as well as a story and that this discovery can be both rewarding and enjoyable.  The activities, particularly the problem solving tasks, can also be used by you as simple, verbal assessment tasks to find out how well your child understands and makes progress. When a task is completed, use praise to help build confidence and self–esteem. Praise from you and the written comment, <span style="font-weight:bold;">1 big tick for me</span>, or, a :) are invaluable in motivation.

</p>
<br />

<h2>A look at the EYFS Framework in more detail.</h2><br /><br />

<p>In the EYFS Framework there are <span style="font-weight:bold;">7 areas of learning and development</span> all important and connected.</p>

<p>
    The <span style="font-weight:bold;">
        3 prime areas are:
    </span> - communication and language, physical development and personal, social and emotional development. These areas make provision for your child to engage with learning through playing and exploring, to become motivated through active learning and to think creatively and critically.


</p>

<p>
    They are strengthened and applied by the use of 4 <span style="font-weight:bold;">specific areas</span> which are literacy, mathematics, understanding the world and expressive arts and design.

</p>
    
<p>
    The Ticker books aim to provide activities and experiences which reflect these <span style="font-weight:bold;">7</span> areas and support your child’s learning experiences.

</p>
    
<p>
    <span style="font-weight:bold;">Communication and Language</span> – to introduce an appropriate language environment, through which he/she can develop confidence and skills in expressing thoughts and feelings, speak and listen in a range of situations.

</p>
    
<p>
    <span style="font-weight:bold;">
        Physical Development
    </span> – to give opportunities to be active and inter-active and develop coordination, control and movement. Foster a sense of the importance of physical activity and healthy food choices.

</p>
   
<p>
    <span style="font-weight:bold;">
        Personal, Social and Emotional Development
    </span> – to present opportunities for him/her to develop a positive sense of himself /herself and others, form positive relationships and respect for others and develop social skills. To present situations where he/she can learn how to manage feelings, understand appropriate behaviour in groups and gains confidence in his/her own ability.


</p>

<p>
    <span style="font-weight:bold;">
        Literacy
    </span> – to introduce specific skills of early reading and writing skills through content that catches his/her interest.


</p>

<p>
    <span style="font-weight:bold;">
        Mathematics
    </span>  - to develop his/her skills in counting, understanding and using numbers, calculating simple addition and subtraction problems and his/her ability to describe shapes, spaces and measures.


</p>
    
    
<p>
    <span style="font-weight:bold;">
        Understanding the World
    </span> – to guide him/her to make sense of his/her physical world and community through opportunities to explore, observe and find out about people, places, technology and the environment.


</p>    

   <p>
       <span style="font-weight:bold;">Expressive Arts and Design</span>  - to give opportunity for him/her to explore and play with a wide range of media and materials  and share thoughts, ideas and feelings though activities in art, music movement, dance, role – play and design and technology. Through the use of media and materials give your child opportunities to explore and be imaginative.



   </p> 
    